/****** Body ******/
body {
  max-width: 700px;
  margin: auto;
}

/***** Header *****/

nav {
  border: 10px #b84 solid;
  border-style: inset;
}

.search-link {
  text-decoration: none;
}

/*********** Book Shelves *****/

.shelf {
  border: 15px #b84 solid;
  border-style: inset;
}

ol,
ul {
  display: flex;
  flex-wrap: wrap;
}

.book-cover {
  margin: 0 60px 20px 0;
}

.author {
  margin: 3px;
}

.book-title {
  font-weight: bold;
}

/******* Search Page *******/

.search-bar {
  width: 100%;
  height: 40px;
  font-size: 25px;
  padding-left: 35px;
}

.left-arrow {
  position: absolute;
  top: 10px;
}

/****** Books *******/
.book-shelf-changer {
  width: 100px;
}

.book-shelf-select {
  background-color: lavender;
}

.book-shelf-select:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
