/****** Body ******/
body {
  max-width: 700px;
  margin: auto;
}

/***** Header *****/

h1 {
  display: inline-block;
  padding-left: 20px;
}

nav {
  border: 10px #b84 solid;
  border-style: inset;
}

.search-link {
  text-decoration: none;
  float: right;
  padding-top: 20px;
}

/*********** Book Shelves *****/

h2 {
  padding-left: 20px;
  border-bottom: 6px solid #b84;
}

.shelf {
  border: 15px #b84 solid;
  border-style: inset;
}

ol,
ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.book-cover {
  margin: 0 60px 20px 0;
}

.author {
  margin: 3px;
}

.book-title {
  font-weight: bold;
}

/******* Search Page *******/

.search-bar {
  width: 100%;
  height: 40px;
  font-size: 25px;
  padding-left: 35px;
}

.left-arrow {
  position: absolute;
  top: 10px;
}

/****** Books *******/

.book-top {
  margin-bottom: -55px;
}

.book-shelf-changer {
  position: relative;
  bottom: 70px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-authors {
  font-size: 0.9em;
  padding: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  width: 128px;
}

.book-title {
  padding: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 128px;
}

.successful-move {
  position: absolute;
  width: 108px;
  background-color: grey;
  padding: 10px;
  font-size: 0.9em;
  opacity: 0.9;
  color: lavender;
}
