/***** Header *****/

nav {
  display: flex;
  border: 10px #b84 solid;
  border-style: inset;
}

.search-link {
  float: right;
  text-decoration: none;
}

/*********** Book Shelves *****/

.shelf {
  border: 10px #b84 solid;
  border-style: inset;
}

ol {
  display: flex;
  flex-wrap: wrap;
}

.book-cover {
  margin: 0 60px 20px 0;
}

.author {
  margin: 3px;
}

.book-title {
  font-weight: bold;
}

/******* Search Page *******/

.search-bar {
  width: 100%;
  height: 40px;
}
